<!DOCTYPE html>
<html lang="en">
<html>
<body>
<div *ngIf="film">
    <div [ngStyle]="{'background-image': 'url(' + 'http://image.tmdb.org/t/p/w650/' + film.backdrop_path + ')',
             '-webkit-gradient': 'top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%', 'background-size': 'cover', 'background-repeat': 'no-repeat'}">
        <div class="row">
            <!--<div class="row">-->
            <div class="col-md-3">
                <img src="http://image.tmdb.org/t/p/w300/{{film.poster_path}}" alt=""
                     style="height: auto; width: auto; max-width: 100%; max-height: 100%;">
            </div>
            <div class="col-md-9">
                <h1>{{film.title}} ({{film.release_date}})</h1>
                <h3>Plot</h3>
                <h4>{{film.overview}}</h4>
            </div>
            <button class="btn btn-danger" (click)="goBack()">Back</button>
        </div>
    </div>
</div>
</body>
</html>